.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 2px solid #dadde1;
  border-radius: 10px;
  margin-bottom: 30px;
}

.day {
  margin-top: 30px;
  margin-bottom: 30px;
}
.units {
  position: relative;
  font-size: 18px;
  margin-left: 5px;
  margin-top: 0px;
}

#description:first-letter {
  text-transform: capitalize;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
